<!DOCTYPE html>
<html lang="en">

<head th:replace="dashboard/layout/header :: header"></head>

<body>
    <nav th:replace="dashboard/layout/navbar :: navbar"></nav>
    <div class="container mb-5 px-5">
        <div class="row mt-5">
            <div class="col" style="text-align: center;"><h2>Shopping Cart</h2></div>
        </div>
        <div class="row mt-5 pt-5 px-5">
            <div id = "cart-body" class="col-sm-8 shadow-sm">
                <div class="row border-bottom">
                    <div class="col-sm-auto  p-2">
                            <img id = "cloth-image" src = "/images/1_1.jpg" alt = "Not found" width = "200" height = "200">
                    </div>
                    <div class="col">
                           <div class="row">
                               <div class="col">
                                    <div class="row">
                                        <div class="col-sm-auto pt-3 fs-4 fw-bold text-warp ">Cloth name</div>
                                    </div>
                               </div>
                               <div class="col-sm-auto offset-sm-3">Button</div>
                           </div>
                           <div class="row mt-2">
                                <div id = "cloth-brand" class="col-sm-auto text-wrap">Brand</div>
                                <div id = "cloth-category" class="col-sm-auto text-wrap">Category</div>
                           </div>
                           <div class="row mt-2">
                               <div class="col-sm-auto">
                                   Size
                               </div>
                           </div>
                           <div class="row mt-5 mb-3 align-items-end">
                                <div class="col-sm-3">
                                    Remove item
                                </div>
                                <div class="col-sm-auto offset-sm-6">
                                    Price
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>

    <script type = "text/javascript" th:inline = "javascript" th:src = "@{/js/Cart.js}"></script>
</body>